gpii/node_modules/alsa/nodealsa/build/
gpii/node_modules/gsettingsBridge/nodegsettings/build/
gpii/node_modules/packagekit/nodepackagekit/build/
gpii/node_modules/xrandr/nodexrandr/build/
node_modules/
